@import "src/styles/variables";
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.modal__content {
  background-color: white;
  color: $bg_dark;
  padding: 20px;
  border-radius: 12px;
  min-height: 200px;
  max-width: 400px;
  transform: scale(0.5);
  transition: 0.3s all;
  &.activeContent {
    transform: scale(1);
  }
}